
.vs/CentreDeTri/v15/.suo
.vs/CentreDeTri/v15/Browse.VC.db
.vs/CentreDeTri/v15/Browse.VC.opendb
.vs/CentreDeTri/v15/ipch/AutoPCH/8dee7fd48aff2c3f/CHARGEMENTDECHET.ipch
.vs/CentreDeTri/v15/ipch/AutoPCH/b4227c1917003d62/UQAC.ipch
CentreDeTri.sln
CentreDeTri/CentreDeTri.vcxproj
CentreDeTri/CentreDeTri.vcxproj.filters
CentreDeTri/CentreDeTri.vcxproj.user
*.ipch
/fichiersDeProjet/.vs/fichiersDeProjet/v15
/fichiersDeProjet
