
.vs/CentreDeTri/v15/.suo
.vs/CentreDeTri/v15/Browse.VC.db
.vs/CentreDeTri/v15/Browse.VC.opendb
CentreDeTri.sln
*.ipch
/fichiersDeProjet/.vs/fichiersDeProjet/v15
/fichiersDeProjet
/CentreDeTri/.vs/CentreDeTri/v15
/CentreDeTri/pch.h
/CentreDeTri/pch.cpp
/CentreDeTri/Debug/CentreDeTri.log
/CentreDeTri/Debug/CentreDeTri.tlog/CL.command.1.tlog
/CentreDeTri/Debug/CentreDeTri.tlog/unsuccessfulbuild
/CentreDeTri/Debug/CentreDeTri.tlog/CentreDeTri.lastbuildstate
/CentreDeTri/Debug/Camion.obj
/CentreDeTri/Debug/Dechet.obj
*.exe
*.exe
*.exe
*.ilk
*.pdb
*.tlog
*.tlog
*.tlog
*.obj
*.exe
*.ilk
*.pdb
*.tlog
*.obj
*.idb
*.exe
CentreDeTri/Debug/UsineTraitement.obj
